.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: var(--background-tertiary);
    display: inline-block;
    max-width: 650px;
    width:fit-content;
    margin: 0;
    padding: 8px;
    border-radius: var(--neb-border-radius1);
}
