/* this: bad version :( */

/* Friends list */
.peopleListItem-2nzedh { 
    position: relative;
    display: inline-grid;
    height: 175px !important;
    width: 315px;
    margin: 1% !important;
    padding: 0 !important;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
    animation: friendGridFade .75s ease;
    transition: 250ms ease all, 350ms ease background-color;}
.peopleListItem-2nzedh:hover {
  transform: scale(1.05);
	background-color: transparent;
	box-shadow: 0 0 12px rgba(0,0,0,0.6);
  border-radius: 5px;}
.peopleListItem-2nzedh:active {
  transform: scale(0.95);}
.discordTag-2_tqUA.nameTag-m8r81H { /* Name */
    position: absolute;
    display: block;
    top: 30px;
    left: 64px;
    color: rgba(255,255,255,0.65);
    font-size: 13px;
    overflow: visible;
    transition: .15s ease color;}
.discriminator-22Okc1 {     /* Discriminator #number */
    visibility: visible !important;
    position: absolute;
    top: 15px;
    left: 0px;
    color: rgba(255, 255, 255, 0.4);
    opacity: 1 !important;
    transition: .15s ease color;}
.avatar-3W3CeO.wrapper-3t9DeA{    /* Avatar */
    margin-bottom: 85px;
    margin-left: 15px !important;}
.actions-1SQwjn {     /* action buttons */
    position: absolute;
    left: 69%;
    top: 26px;}
.subtext-24R4-w{  /* Status position */
    position: absolute;
    background-color: #7289da;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-weight: 500 !important;
    font-size: 11px;
    line-height: 18px;
	  padding-left: 5px;
    top: 0;
    left: 0;
}


/* Online */
.avatar-3W3CeO.wrapper-3t9DeA[aria-label*="Online"] ~ div > .subtext-24R4-w {
    background: #43b581;}

/* Idle */
.avatar-3W3CeO.wrapper-3t9DeA[aria-label*="Idle"] ~ div > .subtext-24R4-w {
	background: #faa61a;}

/* Disturb */
.avatar-3W3CeO.wrapper-3t9DeA[aria-label*="Disturb"] ~ div > .subtext-24R4-w {
    background: #f04747;}

/* Offline */
.avatar-3W3CeO.wrapper-3t9DeA[aria-label*="Offline"] ~ div > .subtext-24R4-w {
    background: #747f8d;}
	
/* Streaming - perhaps just waiting to see if this is the correct name */ /*
.avatar-3W3CeO.wrapper-3t9DeA[aria-label*="Streaming"] ~ div > .subtext-24R4-w {
    background: #593695;} */
